body{
    background-color: #100316;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    background: url("../images/background-img.png");
}
header{
    padding-top: 70px;
}
.navbar-nav .nav-link.active{
    color: #EC4186;
    font-weight: bold;
}
.admin-menu .nav .nav-link.active,
.staff-menu .nav .nav-link.active{
    color: #EC4186;
    font-weight: bold;
    background: #fff;
}
.admin-menu .nav .nav-item:first-child .nav-link.active,
.staff-menu .nav .nav-item:first-child .nav-link.active{
    border-radius: 12px 0 0 12px;
}
.admin-menu .nav .nav-item:last-child .nav-link.active,
.staff-menu .nav .nav-item:last-child .nav-link.active{
    border-radius: 0 12px 12px 0;
}
.admin-menu,
.staff-menu{
    width: 100%;
    border: 3px solid #EC4186;
    border-radius: 15px;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}
.admin-menu .nav,
.staff-menu .nav{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 100%;
}
.admin-menu .nav-item{
    width: 20%;
    height: 100%;
}
.staff-menu .nav-item{
    width: 25%;
    height: 100%;
}
.admin-menu .nav-item:not(:first-child),
.staff-menu .nav-item:not(:first-child){
    border-left: 3px solid #EC4186;
}
.admin-menu .nav-link,
.staff-menu .nav-link{
    text-transform: uppercase;
    color: #fff;
    height: 100%;
    align-content: center;
    font-size: 24px;
    font-weight: 600;
}
.nav-link.disabled, .nav-link:disabled{
    color: #7b1c52;
    font-weight: 600;
}
.hidden{
    display: none;
}
body > div.container{
    margin-top: 120px;
    padding: 0;
}
.btn.btn-primary{
    background-color: #EC4186;
    color: #fff;
    border: none;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 10px;
}
.btn.btn-primary:hover{
    background-color: #2C0B24;
}
.form-film form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-film form > div{
    width: 40%;
}
.form-film form > div:nth-child(2){

}
.film_imgPath{
    text-align: left;
    width: 300px;
}
.form-film form > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: end;
}
.img-film{
    max-height: 437px;
    max-width: 364px;
    width: 300px;
    height: 330px;
    object-fit: cover;
    border-radius: 10px;
}
.form-film .film-input-genre{
    background: #7F224F;
    border: none;
    color: #fff;
    font-weight: 600;
    height: 45px;
    border-radius: 6px;
    align-content: center;
    padding-left: 15px;
    padding-right: 15px;
}
.form-film .film-select-genres{
    display: none;
}
.form-film .film-input-genre span{
    background: #EC4186;
    border-radius: 6px;
    padding: 8px 5px;
}
.form-film form label {
    margin-bottom: 10px;
}
.form-film form label[for=film_description]{
    margin-top: 30px;
}
.form-film form .form-control{
    background: #7F224F;
    border: none;
    margin-bottom: 30px !important;
    color: #fff;
    font-weight: 600;
}
.form-film form .form-control:focus,
.form-film .form-group select:focus{
    border: none !important;
    box-shadow: none !important;
}
.form-film .form-group select:focus-visible{
    border: none !important;
    background: #7F224F !important;
    box-shadow: none !important;
}
.form-film form input.form-control{
    height: 45px;
}
.form-film .form-group:has(label[for=film_rating]){
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 90px;
}
.form-film .form-group:has(label[for=film_genres]){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.form-film .form-group select{
    background: #7F224F;
    height: 45px;
    border-radius: 6px;
    border: none;
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;
}
.form-film .form-group select#film_genres{
    height: 200px;
}
.form-film .btn-delete-film{
    margin-right: 50px;
}
.form-film .btn-delete-film{
    margin-right: 50px;
}
.form-film .btn.btn-primary{
    padding: 15px 50px;
    text-transform: uppercase;
    margin-top: 50px;
}
.form-film-h2{
    margin-bottom: 35px;
}
.form-file-type{
    position: relative;
    background: #7F224F;
    border: none;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    margin-top: 30px;
    width: 300px;
    margin-bottom: 30px;
    border-radius: 15px;
    overflow: hidden;
}
.form-file-type .form-group{
/*    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;*/
    width: 100%;
    height: 45px;
    z-index: 9999;
}
.form-file-type:has(ul){
    margin-bottom: 65px;
}
.form-file-type .form-group .form-control{
    opacity: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
}
.form-file-type ul li{
    margin-top: 20px;
}
.input-file-type{
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    background: #EC4186;
    border-radius: 10px;
    padding: 12px 15px;
    font-size: 14px;
    text-align: left;
    white-space: nowrap;
}
.input-file-name{
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    border-radius: 10px;
    padding: 12px 15px;
    font-size: 14px;
}
.film-form-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .nav-link{
    text-transform: uppercase;
    color: #fff;
    margin-left: 82px;
}
.nav-link:hover{
    color: #EC4186;
}
header .connexion-btn{
    color: #EC4186 !important;
    border: 3px solid #EC4186;
    border-radius: 18px;
    padding: 8px 15px;
    min-width: 160px;
    text-align: center;
    font-weight: 600;
}
header .connexion-btn:hover{
    color: #fff !important;
    border: 3px solid #fff;
}
nav.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent !important;
    max-width: 1320px;
    margin: 0 auto;
}
.navbar-expand-lg #navbarNav{
    justify-content: end;
}
.navbar .dropdown{
    display: none;
}
table, table tr, table td, table th{
    background-color: transparent !important;
    color: #fff !important;
}
table th, table td{
    border: 2px solid #EC4186;
}
table{
    border-collapse: collapse;
    border-radius: 5px;
    border-style: hidden;
    box-shadow: 0 0 0 2px #EC4186;
}
.h1{
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 60px;
}
.films-container-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1320px;
    margin: 0 auto;
}
.film-container-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
    text-align: center;
    position: relative;
}
.film-hover-home{
    opacity: 0;
    position:absolute;
    top: 0;
    right:0;
    bottom:0;
    color: #EC4186;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    align-content: center;
    width: 100%;
    text-decoration: none;
    background: #2C0B24;
    border-radius: 10px;
    box-shadow: 0 0 12px #fff;
    transition: opacity 0.3s ease-out;
}
.film-hover-home:hover{
    opacity: 0.8;
    transition: opacity 0.3s ease-out;
}
.film-title-home{
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    font-size: 22px;
}
.film-date-home{
    font-size: 14px;
    margin-top: 10px;
}
.img-film-home{
    max-width: 250px;
    max-height: 300px;
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.login-container,
.register-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}
.register-container{
    margin-bottom: 200px;
}
.login-img-container {
    background: url("../images/login-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 50%;
    height: auto;
    padding: 200px 70px;
}
.register-img-container{
    background: url("../images/register-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 50%;
    height: auto;
    padding: 375px 70px;
}
.login-img-container h1,
.register-img-container h1{
    font-weight: 600;
    margin-bottom: 40px;
}
.login-container form,
.register-form-container{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.login-container form .btn.btn-primary,
.register-container form .btn.btn-primary{
    max-width: 200px;
    text-align: center;
    align-self: center;
}
.register-container form button#user_submit{
    max-width: 230px;
}
.register-container form div:nth-child(6){
    text-align: center;
    margin-top: 80px;
}
.login-container form h2,
.register-container .register-form-container h2{
    margin-top: 35px;
    font-weight: 600;
    margin-bottom: 35px !important;
    font-size: 34px;
    letter-spacing: 0.5px;
}
.login-container form p,
.register-container .register-form-container p{
    font-size: 20px;
    margin-bottom: 40px;
}
.login-container form label,
.register-container form label{
    font-size: 22px;
    margin-bottom: 15px;
}
.login-container form input.form-control:nth-child(4){
    margin-bottom: 30px;
}
.register-container form .password-container{
    margin-bottom: 50px;
}
.login-container form input.form-control,
.register-container form .form-control{
    background: #7b1c52;
    border: none;
    height: 53px;
    margin-bottom: 15px;
    color: #fff;
}
.login-container form input.form-control:focus,
.register-container form .form-control:focus{
    border: none !important;
    background: #7b1c52 !important;
    box-shadow: none !important;
}
form input.form-control:-internal-autofill-selected{
    border: none !important;
    background: #7b1c52 !important;
    box-shadow: none !important;
}
.login-container form a.login-forgot-password{
    margin-bottom: 30px;
    text-align: right;
    font-size: 16px;
    color: #fff;
}
.login-container form .password-container,
.register-container form .password-container{
    position: relative;
}
.login-container form .show-password,
.register-container form .show-password{
    position: absolute;
    right: 0;
    height: 53px;
    background-color: #EC4186;
    border-radius: 5px;
    padding: 14px 20px;
    cursor: pointer;
}
.login-container form .show-password{
    top: 0;
}
.register-container form .show-password{
    bottom: 0;
}
@media (max-width: 991px) {
    .navbar .dropdown{
        display: block;
    }
    nav.navbar > div:first-child{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 720px;
        margin: 0 auto;
        align-items: center;
    }
    nav.navbar{
        max-width: 720px;
        margin: 0 auto;
    }
    nav.navbar ul{
        width: 35%;
        float: right;
    }
    .dropdown-toggle::after{
        content: none;
    }
    .dropdown-menu[data-bs-popper]{
        right: 0 !important;
        left: auto;
        background: #651b41;
        min-width: 200px;
        padding: 20px;
    }

    .dropdown-menu[data-bs-popper] li a:hover{
        background: none;
    }
    .dropdown-menu[data-bs-popper] li:first-child a,
    .dropdown-menu[data-bs-popper] li:nth-child(2) a,
    .dropdown-menu[data-bs-popper] li:nth-child(3) a{
        color: #fff;
        padding: 0;
        margin-bottom: 15px;
    }
    .dropdown-menu[data-bs-popper] li:first-child a:hover,
    .dropdown-menu[data-bs-popper] li:nth-child(2) a:hover,
    .dropdown-menu[data-bs-popper] li:nth-child(3) a:hover{
        color: #EC4186;
    }
    .connexion-btn {
        padding: 8px 10px;
    }
    .navbar button.dropdown-toggle{
        background: #651b41;
        border: none;
    }
    .navbar button.dropdown-toggle:hover{
        background: #49142f;
    }
    .navbar button.dropdown-toggle span{
        color: #fff;
    }
}